@import './font.scss';
@import './reset.scss';
@import './hint.css';

html {
  color: $base-text-color;
  user-select: none;
}

body {
  margin: 0;
  display: grid;
}

html,
body,
#app {
  overflow: hidden;
}

#app {
  grid-area: main;
}

/**
 * 文字颜色
 */
.text-grey {
  color: grey;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

.text-crimson {
  color: crimson;
}

.text-orange {
  color: orange;
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: green;
}

.text-blue {
  color: #0097ee;
}

.text-purple {
  color: purple;
}

.text-burlywood {
  color: burlywood;
}

.text-cadetblue {
  color: cadetblue;
}

.text-hotpink {
  color: hotpink;
}

/**
 * 文字大小
 */
@each $size in $gap-size-list {
  .text-#{$size} {
    font-size: #{$size}px;
  }
}

/**
 * 背景颜色
 */
.bg-white {
  background-color: white;
}

.bg-pink {
  background-color: pink;
}

.bg-error {
  background-color: lightpink;
}

.bg-base {
  background-color: $base-background-color;
}

.bg-green {
  background-color: seagreen;
}

.bg-canvas {
  background-color: $canvas-background-color;
}

/**
 * 边框颜色颜色
 */
@each $direction in $direction-list {
  .border-#{$direction}-base {
    border-#{$direction}: 1px solid $base-background-color;
  }
}

/**
 * 测试类！！！
 */
.ggggggg {
  display: grid;
  grid-auto-flow: column;
  row-gap: 10px;
  column-gap: 10px;
  place-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  font-size: 10px;
  background-color: white;
  place-content: center;
  place-self: center;
}

/**
 * padding
 */
@each $size in $gap-size-list {
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
  .pl-#{$size} {
    padding-left: #{$size}px;
  }
  .ptb-#{$size} {
    padding-top: #{$size}px;
    padding-bottom: #{$size}px;
  }
  .plr-#{$size} {
    padding-right: #{$size}px;
    padding-left: #{$size}px;
  }
  .p-#{$size} {
    padding: #{$size}px;
  }
}

/**
 * 宽度
 */
.width-100 {
  width: 100%;
}

/**
 * 高度
 */
.height-100 {
  height: 100%;
}

/**
 * Grid布局
 */
.grid {
  display: grid;
}

.grid-column {
  display: grid;
  grid-auto-flow: column;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-justify-center {
  display: grid;
  justify-items: center;
}

.grid-column-align-center {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.grid-column-jusitify-center {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-column-center {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

@each $size in $gap-size-list {
  .row-gap-#{$size} {
    row-gap: #{$size}px;
  }
  .column-gap-#{$size} {
    column-gap: #{$size}px;
  }
  .gap-#{$size} {
    gap: #{$size}px;
  }
}

$grid-direction-list: stretch, start, center, end, space-around, space-between, space-evenly;

@each $direction in $grid-direction-list {
  .a-content-#{$direction} {
    align-content: $direction;
  }
  .j-content-#{$direction} {
    justify-content: $direction;
  }
  .content-#{$direction} {
    place-content: $direction;
  }
}

.items-center {
  place-items: center;
}

.a-self-start {
  align-self: start;
}

.self-center {
  place-self: center;
}

.a-self-center {
  align-self: center;
}

.j-self-center {
  justify-self: center;
}

.area-main {
  grid-area: main;
}

.area-header {
  grid-area: header;
}

/**
 * Flex布局
 */

.flex-align-center {
  display: flex;
  align-items: center;
}

/**
 * 工具类
 */
.pointer {
  cursor: pointer;
}

.over-hidden {
  overflow: hidden;
}

.overlay-y {
  overflow: hidden overlay;
}

.overlay-x {
  overflow: overlay hidden;
}

.scroll-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scroll {
  border-color: transparent;
  transition: border-color 0.5s ease-in-out;
  $scroll-size: 6px;

  &::-webkit-scrollbar {
    width: $scroll-size;
    height: $scroll-size;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border: $scroll-size / 2 solid;
    border-color: inherit;
    border-radius: $scroll-size / 2;
  }

  &:hover {
    border-color: grey;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visible-auto {
  content-visibility: auto;
}

input[type='text'][validate='false'] {
  background-color: rgba($color: red, $alpha: 0.1);
}

.cu-btn {
  padding: 0.5em;
  border: 1px solid $base-background-color;
  border-radius: 0.4em;

  &:active {
    background-color: lightgrey;
  }
}

/**
 * 渐变动画
 */
.fade {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: opacity $canvas-tab-duration ease-in-out;
  }

  &-enter-from,
  &-leave-to,
  &-move {
    opacity: 0;
  }
}

.eio-width {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: width $canvas-tab-duration ease-in-out;
  }

  &-enter-from,
  &-leave-to,
  &-move {
    width: 0 !important;
  }
}

.eio-height {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: height 0.15s ease-in-out;
  }

  &-enter-from,
  &-leave-to,
  &-move {
    height: 0 !important;
  }
}
