$gap-size-list: 1, 2, 4, 6, 8, 10, 12, 14, 16, 20, 24, 28, 32, 64;
$direction-list: top, right, bottom, left;

$base-background-color: silver; // 基础背景色、即间隙颜色
$canvas-background-color: #f2f4f5; // 画布底色，tab底色
$canvas-shadow-color: rgba(black, 0.2);
$canvas-shadow-size: 16px;
$half: $canvas-shadow-size / 2;

$base-text-color: #1c263b; // 全局文字颜色
$header-height: 24px; // 顶部header高度

$nav-height: 56px; // 导航栏高度

$tabs-size: 48px; // tabs宽度和高度

$canvas-tab-duration: 0.3s;
